.container_filter {
    display: flex;
    align-items: center;
}

.input_filter {
    width: 40%;
    border: 2px solid gray;
    border-radius: 6px;
    padding: 6px;
}

.order_price {
    display: flex;
    margin-left: auto;
}

@media (max-width: 850px) {
    .container_filter {
        height: 7rem;
        flex-direction: column-reverse;
        align-items: center;
    }

    .input_filter {
        margin: auto;
    }

    .order_price {
        margin-left: 0;
        margin: auto;
    }
}