.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #eee;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgb(1, 114, 234);

    .item_image {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover cover;
        border-radius: 8px;
    }

    .item_title {
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .item_price {
        text-align: center;
    }

    .item_discount{
        text-align: center;
        text-decoration: line-through;
    }

    .container_discount {
        min-height: 60px;
        text-align: center;
    }

    .item_price_discount {
        text-align: center;
        color: red;
        font-size: 20px;
    }

    .container_button{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .item_button{
        color:white;
        background-color: rgb(1, 114, 234);
        text-transform: uppercase;
        border: none;
        border-radius: 6px;
        padding: 8px;
        cursor: pointer;
    }

    @media (min-width: 850px) {
        width: calc(25% - 12px);
    }

    @media (max-width: 849px) {
        width: calc(50% - 12px);
    }
}